.box {
    background-color: red;
    height: 220px;
    width: 220px;
    border-radius: 20px;
}

.box2 {
    background-color: yellow;
    height: 220px;
    width: 220px;
    border-radius: 20px;
}

.box3 {
    background-color: blue;
    height: 220px;
    width: 220px;
    border-radius: 20px;
}

.box4 {
    background-color: #000;
    height: 220px;
    width: 220px;
    border-radius: 20px;
}